In [1]:
str="python"
for i in str:
    print(i)

p
y
t
h
o
n

In [7]:
str="Python"
for i in str[::-1]:
    print(i)

n
o
h
t
y
P

In [11]:
def fun(str):
    for i in str[::-1]:
        print(i)
fun("python")

n
o
h
t
y
p

In [15]:
x=10
for i in range(5):
    print(x)
print("hi")

10
10
10
10
10
hi

In [27]:
x=10
for i in range(5):  #range(5)=(0,1,2,3,4)
    x=123
    print(x)
print(i)
print(x)

123
123
123
123
123
4
123

In [40]:
for i in range(6):  # here range(6)=(0,1,2,3,4,5). to take the value 0
    for j in range(i): # for j in i means for j in range() take (0,0) it false then not execute 
        print(i,end=" ")
    print()
print()

'''
next to take the val i=1
'''

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

'\nnext to take the val i=1\n'

In [1]:
for i in range(5): #i=0
    for j in range(3): #i=0
        print(i,end=" ")
    print()

'''
iter 1:
   i=0:
     j=0
     j=1
     j=2
    print(space)
iter 2:
    i=1
'''

0 0 0
1 1 1
2 2 2
3 3 3
4 4 4

'\niter 1:\n   i=0:\n     j=0\n     j=1\n     j=2\n    print(space)\niter 2:\n    i=1\n'

In [51]:
for i in range(2):
    for j in range(3):
        print(i)

0
0
0
1
1
1

In [53]:
for i in range(2):
    for j in range(4):
        print(j)
    print()

0
1
2
3

0
1
2
3

In [58]:
for i in range(5):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [68]:
for i in range(8):
    for j in range(i):
        print("* ",end=" ")
    print("-------")
    print(j)

-------
6
*  -------
0
*  *  -------
1
*  *  *  -------
2
*  *  *  *  -------
3
*  *  *  *  *  -------
4
*  *  *  *  *  *  -------
5
*  *  *  *  *  *  *  -------
6

In [16]:
def multiples_num(n):
    return str(list([n*i for i in range(1,36)]))
multiples_num(5)

multiples_num(2)

'[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70]'

In [80]:
# l1=[10,20,20]
# l2=[1,2,3]
l3=[]
for i in [10,20,20]:
    for j in [1,2,3]:
        l3.append(i+j)
print(l3)

[11, 12, 13, 21, 22, 23, 21, 22, 23]

In [81]:
print([i+j for i in [10,20,30] for j in [1,2,3,4]])

[11, 12, 13, 14, 21, 22, 23, 24, 31, 32, 33, 34]

In [87]:
print([i[-1] for i in ["python","DAtaScience"]])

['n', 'e']

In [90]:
print([[i+j for i in "Abc"]for j in "Xyz"])

[['AX', 'bX', 'cX'], ['Ay', 'by', 'cy'], ['Az', 'bz', 'cz']]

In [2]:
x=10  #globle variable
def fun(): #define a function fun()
    x=20 #local variable
    print(x) # x=20 
#print(x)
fun()
print(x)  # x=10

20
10

In [1]:
"python".swapcase()

'PYTHON'

ERROR! Session/line number was not unique in database. History logging moved to new session 366

In [3]:
"python".capitalize()

'Python'

In [4]:
"DataScience".casefold()

'datascience'

In [8]:
"data Science and Python are the very important to the job market".capitalize()

'Data scence and python are the very important to the job market'

In [2]:
"data science"

'data science'

In [31]:
l=[1,2,3,4,5]
l1=[]
def fun(l):
    l1=l[0],l[1]=l[1],l[0]
    #l2=list[l[0],l[1],l[2],l[3],l[4]]
    return l1,list(l[::1])
fun(l=[1,2,3,4,5])

((2, 1), [2, 1, 3, 4, 5])

In [24]:
#To print the odd numbers and how many odd  numbers in a given list 
l=[1,3,4,5,6,8,9]
print(len([i for i in l if(i%2!=0)]))

4

In [35]:
def fun(l):
    count=[]
    for i in l:
        if i%2==0:
            print("even",i)
        else:
            print("odd",i)
fun([3,2,5,4,6,6,1,7,8])

odd 3
even 2
odd 5
even 4
even 6
even 6
odd 1
odd 7
even 8

In [6]:
# print the prime numbers
def fun(l):
    count=1;
    for i in l:
        if i%2==1:
            #count+=1
            print(i)
    return count
print(fun([2,4,7,9,4,5,6,11]))

7
9
5
11
1

In [37]:
# l=[2,3,4,5,6,8]
# l1=[2,3,4,5,8,1,1]
def fun(l):
    even=[i for i in l if i%2==0]
    odd=[j for j in l]
    print(even)
    print(odd)
    
fun([2,3,4,5,6,8])

[2, 4, 6, 8]
[2, 3, 4, 5, 6, 8]

In [40]:
l=[]
if l:
    print("hi")

In [41]:
l1=[1,2]
if l1:
    print("helo")

helo

In [45]:
def fun(l):
    if l:
        print("list of elements",l)
        l.clear()
        print("Now list becomes empty",l)
    else:
        print("list is already empty",l)
fun([2,3,4,5])

list of elements [2, 3, 4, 5]
Now list becomes empty []

In [1]:
list=[]
sum=0
def matrix_f(matrix,n):
    for i in range(n):
        for j in range(n):
            sum=matrix[i][i]
            if sum%2==0:
                list.append(sum-5)
                print("s",sum-5)
            else:
                list.append(sum+5)
                print("e",sum+5)
        print([list])
    return "trace_value of Matrix:",sum
matrix_f([[1,6,3],[1,6,3],[1,8,3]],3)

e 6
e 6
e 6
[[6, 6, 6]]
s 1
s 1
s 1
[[6, 6, 6, 1, 1, 1]]
e 8
e 8
e 8
[[6, 6, 6, 1, 1, 1, 8, 8, 8]]

('trace_value of Matrix:', 3)

In [26]:
l=[1,3,6,7,8,4,1,6]
#l.append("friend") # To add 9 element in the end of the list
l.extend(["green"])
print(l)

[1, 3, 6, 7, 8, 4, 1, 6, 'green']

In [243]:
def fun(list):
    list=[3,4,5,6]
    v=[]
    list.append(9)
    for i in list:
        if i==4:
            print("add val to the 2nd ele: ",i+5)
        else:
            print("deleting val",i-5)
        v.extend(list)
    return list,v
fun(list=[3,4,5,6])

deleting val -2
add val to the 2nd ele:  9
deleting val 0
deleting val 1
deleting val 4

([3, 4, 5, 6, 9],
 [3, 4, 5, 6, 9, 3, 4, 5, 6, 9, 3, 4, 5, 6, 9, 3, 4, 5, 6, 9, 3, 4, 5, 6, 9])

In [44]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
tropic=["abc","xyz","JKL"]
tropic.extend(thislist)
tropical = ["mango", "pineapple", "papaya"]
#thislist.insert(1,tropical)
thislist.insert(100,"hey")

print(thislist)
print(tropic)
print(len(thislist))

3
['apple', 'banana', 'cherry', 'hey']
['abc', 'xyz', 'JKL', 'apple', 'banana', 'cherry']
4

In [47]:
l=["hi","hey","wow","pascal","mango","mango"]
print({each:l.count(each) for each in l})

{'hi': 1, 'hey': 1, 'wow': 1, 'pascal': 1, 'mango': 2}

In [48]:
ls=[2,3,4,1,4,5,6,3,2,9,0,1,0]
print({each:ls.count(each) for each in ls})

{2: 2, 3: 2, 4: 2, 1: 2, 5: 1, 6: 1, 9: 1, 0: 2}

In [67]:
sample="hiz thhis the python explanation and DataScience z"
count=0;
for i in sample:
    if (i=="z"):
        count=count+1
    print(count,end=" ")
print()

0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2

In [129]:
# Count an perticular charactor.
#here "t" is  the 2 chars in a given string
def fun(s):
    count=0;
    for i in s:
        if (i=="t"):
            count=count+1
        print(count,end=" ")
    return s
fun(s="hiii hat ant rare")

0 0 0 0 0 0 0 1 1 1 1 2 2 2 2 2 2

'hiii hat ant rare'

In [84]:
# Count charactors in a given string.   
#samp="hiz thhis the python explanation and DataScience z"
def fun(samp):
    return ([{each:samp.count(each) for each in samp}])
fun(samp="hiz thhis the python explanation and DataScience z")

[{'h': 5,
  'i': 4,
  'z': 2,
  ' ': 7,
  't': 5,
  's': 1,
  'e': 4,
  'p': 2,
  'y': 1,
  'o': 2,
  'n': 5,
  'x': 1,
  'l': 1,
  'a': 5,
  'd': 1,
  'D': 1,
  'S': 1,
  'c': 2}]

In [102]:
# create a list 
#to add a element in a list
list_e=[2,3,4,5,6,7,8,9]
list_e.append(1) # to add the element to end of the list 
print(list_e)

[2, 3, 4, 5, 6, 7, 8, 9, 1]

In [133]:
#To add a element to starting a list 
def fun(list_e):
    list_e.insert(0,1)
    return list_e
fun([2, 3, 4, 5, 6, 7, 8, 9, 1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [110]:
# To add a element in a list
# append()- add a element to end of the list
def fun(lst):
    #lst=[4,5,6]
    lst.append(4) # add an element at the end of a list
    return lst
print(fun(lst=[4,5,6]))

[4, 5, 6, 4]

In [114]:
# To add an element in a index of 2
#lst=[5,6,7]
def fun(lst):
    lst.insert(2,456)
    return lst
fun([5,6,7])

[5, 6, 456, 7]

In [127]:
def fun(lst,lsts,ex_lst):
    lst.insert(2,245) # add an element instead of a index of 2
    lst.pop(0)  # pop the zero element in a list  
    #print(lst)
    lsts.insert(0,435600) 
    ex_lst.extend(lsts)  #To append elements from another list to the current list, use the extend() method.
    return lst,lsts,ex_lst
print(len(lst))
fun([5,6,7],[1,23,3],[1,0,4,5,333])
# print(len(lst))

3

([6, 245, 7], [435600, 1, 23, 3], [1, 0, 4, 5, 333, 435600, 1, 23, 3])

In [130]:
#  Zero Index of a element is pop(delete).  
def fun(lst):
    lst.pop(0) # pop the element in a list
    return lst
fun([3,4,56,6])

[4, 56, 6]

In [156]:
# To append elements from the another list to the current list,use the extend()method.
def fun(list_ele,list_val):
    list_ele.extend(list_val)
    return list_ele
fun([3,4,5,6,0,1,2,3,66666],[7,8,9,10,11,15])#.......

[3, 4, 5, 6, 0, 1, 2, 3, 66666, 7, 8, 9, 10, 11, 15]

In [15]:
# List operations
#####list.append(),pop(),insert() takes exactly one argument
#list=[(3,2.5,5,6,"hey",7,6,"hi"),1,2,3,4,5,8,45]
def fun(list):
    list.pop(0) #index of zero (3,2.5,5,6,'hey',7,6,'hi') is pop    
    list.append("Rabbit")  # to add an element at the end of the list
    list.insert(2,"Animals") # insert the 'Animals' instead of 2
    list[3]={"List","Elements"}
    list[3:5]=["items","variables"]
    return list

fun(list=[(3,2.5,5,6,"hey",7,6,"hi"),1,2,3,4,5,])

[1, 2, 'Animals', 'items', 'variables', 5, 'Rabbit']

In [166]:
# To find the data types
lq=["apple","mango","banana",9,2.4,76,"adb"]
ls=("abc","xys",2,2.6,5)
ld={"age":24,"name":"Rakesh","salary":65000}
lset={1,2,3,4,5,3,3,"abs","jkl"}
print(type(lq))
print(type(ls))
print(type(ld))
print(type(lset))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [17]:
#To print the tuple of elements
def fun(mylist):
    return mylist
fun(mylist=((2,3,4,5,6,6)))

(2, 3, 4, 5, 6, 6)

(2, 3, 4, 5, 6, 6)

In [184]:
mylist=set([2,3,4,5,6,6]) #list is the mutable. It can be changeable,modified.
print(mylist)

{2, 3, 4, 5, 6}

In [188]:
#list, dict are the Mutable Objects.
#tuple is the Immutable Object
mylist=set((2,3,4,5,6,6))  #Tuple is an immutable object can't changed after it is created.
print(mylist)

{2, 3, 4, 5, 6}

In [189]:
thislist = set(["apple", "banana", "cherry"]) # note the double round-brackets
thisl=[{"set","cat",2,3.5}]
print(thislist)
print(thisl)

{'banana', 'apple', 'cherry'}
[{'set', 'cat', 2, 3.5}]

#### There are four collection data types in the Python programming language:

List: is a collection which is ordered and changeable. Allows duplicate members.

Tuple: is a collection which is ordered and unchangeable. Allows duplicate members.

Set: is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary: is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

In [200]:
l=[2,3,4,5,"computer"]
print(l[2:5])
print(l[:4])
print(l[-1])
print(l[::])
print(l[0:])
print(l[:1])

[4, 5, 'computer']
[2, 3, 4, 5]
computer
[2, 3, 4, 5, 'computer']
[2, 3, 4, 5, 'computer']
[2]

In [209]:
fruits_list=["apple","mango","banana"]
for i in fruits_list:
    if i=="mango":
        print( "yes,'mango' is the fruits list:",i)

yes,'mango' is the fruits list: mango

In [190]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

#Negative indexing means starting from the end of the list.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

['orange', 'kiwi', 'melon']

In [219]:
list_lst=["mango","custard Apple","Grapes","Dragon fruit"]
#list_lst[1]="balck barry"  #instead of index 1 "black barry"; if we want to multiple items are add to the listthen we use [:]
list_lst[1:4]=["Apricot","Kiwi","Lime"]
#list_lst.append("berry")  # To add item to end of the list
#list_lst.insert(2,"cherry")   # To accupy the index of 2
print(list_lst)

['mango', 'Apricot', 'Kiwi', 'Lime']

In [ ]:
def fun(list):
    count=0
    for each in list:
        count=

In [27]:
thislist = ["apple", "banana", "cherry","mango"]

thislist[2:2] = ["watermelon","blaky","hel","joky","hokey"]
for each in thislist:
    print({each:thislist.count(each) for each in thislist})
        #print(val)
    #print(val)
print(thislist)

{'apple': 1, 'banana': 1, 'watermelon': 1, 'blaky': 1, 'hel': 1, 'joky': 1, 'hokey': 1, 'cherry': 1, 'mango': 1}
{'apple': 1, 'banana': 1, 'watermelon': 1, 'blaky': 1, 'hel': 1, 'joky': 1, 'hokey': 1, 'cherry': 1, 'mango': 1}
{'apple': 1, 'banana': 1, 'watermelon': 1, 'blaky': 1, 'hel': 1, 'joky': 1, 'hokey': 1, 'cherry': 1, 'mango': 1}
{'apple': 1, 'banana': 1, 'watermelon': 1, 'blaky': 1, 'hel': 1, 'joky': 1, 'hokey': 1, 'cherry': 1, 'mango': 1}
{'apple': 1, 'banana': 1, 'watermelon': 1, 'blaky': 1, 'hel': 1, 'joky': 1, 'hokey': 1, 'cherry': 1, 'mango': 1}
{'apple': 1, 'banana': 1, 'watermelon': 1, 'blaky': 1, 'hel': 1, 'joky': 1, 'hokey': 1, 'cherry': 1, 'mango': 1}
{'apple': 1, 'banana': 1, 'watermelon': 1, 'blaky': 1, 'hel': 1, 'joky': 1, 'hokey': 1, 'cherry': 1, 'mango': 1}
{'apple': 1, 'banana': 1, 'watermelon': 1, 'blaky': 1, 'hel': 1, 'joky': 1, 'hokey': 1, 'cherry': 1, 'mango': 1}
{'apple': 1, 'banana': 1, 'watermelon': 1, 'blaky': 1, 'hel': 1, 'joky': 1, 'hokey': 1, 'cherry': 1, 'mango': 1}
['apple', 'banana', 'watermelon', 'blaky', 'hel', 'joky', 'hokey', 'cherry', 'mango']

In [19]:
def fun(this_lst):
    count=0;
    for i in range(len(this_lst)):
        for each in this_lst:
            print(each)
    return each

fun(this_lst=["watermelon","blaky","hel","joky","hokey"])

watermelon
blaky
hel
joky
hokey
watermelon
blaky
hel
joky
hokey
watermelon
blaky
hel
joky
hokey
watermelon
blaky
hel
joky
hokey
watermelon
blaky
hel
joky
hokey

'hokey'

In [82]:
this_lst=["watermelon","blaky","hel","joky","hokey"]
for item in this_lst:  #range(len(this_lst)):
    for each in item:
        print(item.count(each),each,end=" ")
    print("")
print("items")

1 w 1 a 1 t 2 e 1 r 1 m 2 e 1 l 1 o 1 n
1 b 1 l 1 a 1 k 1 y
1 h 1 e 1 l
1 j 1 o 1 k 1 y
1 h 1 o 1 k 1 e 1 y
items

In [7]:
#we want to duplicates values 
l=[1,2,3,4,5,6,2,3,4,1]
[i for i in l if l.count(i)>1]

[1, 2, 3, 4, 2, 3, 4, 1]

In [6]:
set([i for i in l if l.count(i)>1])

{1, 2, 3, 4}

In [30]:
# To write a pgm to print duplicatesd values and also sum of them
def fun(values):
    #return set([i for i in values if values.count(i)>1])
    p=set([i for i in values if values.count(i)>1])
    return p, sum(p) 
fun([1,2,3,4,5,6,2,3,4,1])

({1, 2, 3, 4}, 10)

In [34]:
# To write a code to unique values in a given list
lst_val=[2,3,4,5,6,7,8,8,2,1,2]
[i for i in lst_val if lst_val.count(i)<=1]

[3, 4, 5, 6, 7, 1]

In [68]:
def fun(lst_val):
    v=[i for i in lst_val if lst_val.count(i)>1]
    c={i:lst_val.count(i) for i in lst_val if lst_val.count(i)>1 }
    return lst_val,v,c
fun([3,4,5,5,6,7,7,8])

([3, 4, 5, 5, 6, 7, 7, 8], [5, 5, 7, 7], {5: 2, 7: 2})

In [79]:
# a=64
# b=54
a=int(input("enter 1st val:"))
b=int(input("enter 2nd val:"))
s=((a,"1st value is the less than the 2nd ") if (a<b) else (b,"1st value is the greater than 2nd val:",b))
print(s)

enter 1st val:654
enter 2nd val:2000
(654, '1st value is the less than the 2nd ')

In [105]:
def fun(a,b):
    if a>b:
        print("a>b",a,b)
    elif a<b :
        print("a<b ",a,b)
    else:
        print("please enter the  diff value",a,b)
fun(4,5)
fun(6,3)
fun(0,1)
fun(0,0)
fun(1,1)
fun("z","h")
fun("a","a")

a<b  4 5
a>b 6 3
a<b  0 1
please enter the  diff value 0 0
please enter the  diff value 1 1
a>b z h
please enter the  diff value a a

In [1]:
l1=[1,2,3,"a","b",3.0]
print(len(l1))
l1.append(3)
l1.insert(0,1)
print(l1)

l2=set([i for i in l1 if l1.count(i)>1])
print(l2)
print(l1.index("a"))
print(l1[4:])
dict1={1:"a",3:"b",2:"d"}
print(dict1)
str1="ProgrammingInPython"
str2=str1.swapcase()
print(str2)

6
[1, 1, 2, 3, 'a', 'b', 3.0, 3]
{1, 3}
4
['a', 'b', 3.0, 3]
{1: 'a', 3: 'b', 2: 'd'}
pROGRAMMINGiNpYTHON

In [3]:
dictlang={'c#':6,'GO':89,'python':4,'RUST':10}
cpydict=dictlang.copy()
print(id(cpydict)==id(dictlang))

False

In [18]:
dictlang={'c#':6,'GO':89,'python':4,'RUST':10}
dictlang.keys()
dictlang.values()
print(dictlang['c#'])

6

In [15]:
d={2:"red",4:'red',6:'jkl'}
d.keys()
print(id(d))

3007977617536

In [29]:
dictlang={'c#':6,'GO':89,'python':4,'RUST':10}
cpydict=dictlang.copy()
print(id(cpydict))
print(id(dictlang))

print(id(cpydict)!=id(dictlang))

3007977656256
3007977656128
True

In [54]:
animaldict={'name':'Dog','age':45,'weight':45,'country':'US','city':'California'}
animaldicts=animaldict.pop('name')
print(animaldicts)
animaldict

Dog

{'age': 45, 'weight': 45, 'country': 'US', 'city': 'California'}

In [7]:
h=[3,"hi",3.4,9,4]
x=all(h)
print(x)

True

In [12]:
k=[1,2,3,4,5]
j=[1,1,1,11111]
print(all(k))
print(all(j))

True
True

In [14]:
j=[1,1,1,11111,1,0]
all(j)

False

In [20]:
mydict = {1: "Apple", 2: "Orange"}
x = all(mydict)
y=mydict.keys()
print(x)
print(y)

True
dict_keys([1, 2])

In [2]:
l=['siri']
ascii(l)
#print(ascii(l))
# k=['feho']
# print(k)

"['siri']"

In [1]:
l=[34,4,5,6,7]
s=["s","d","s"]
ascii(s)
#ascii(l)

"['s', 'd', 's']"

In [10]:
def fun(str):
    return str, str[::-1]
fun(str="helo")

('helo', 'oleh')